/* Brand Colors
--------------------------------------------------
#4f0100 Crimson
#3e5e19 Green
#ffb612 Gold
#163554 Dk Blue
#3279bf Lt Blue
#b5b5a8 Gray
#161e25 Black
*/
/* Defaults
-------------------------------------------------- */
/* For devices that do not support html meta viewport (e.g. IE 10 snap mode) */
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }
html {
    //overflow-y: scroll;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    }
body {
    height: 100%;
    margin: 0 auto;
    background-color: black;
    font-size: 13px;
    font-size: 1.3em; /* =13px */
    font-weight: 400;
    color: #161e25;
    background: black url(../images/carbon-fiber.png)left top repeat;
    }
img, embed, object, video { max-width: 100%; vertical-align: middle; }
p, ul, ol, dl { margin-top: 0; }
ul {
    margin-left: .25em;
    padding-left: 0;
    list-style: none;
    }
ol { padding-left: 1.5em; }
li {
    margin-left: 0;
    padding-left: 0;
    }
p, li {
    line-height: 160%;
    margin-bottom: 1.25ex;
    font-size: 22px;
    font-size: 2.2rem;
    }
a,
.a {
    color: #3279bf;
    text-decoration: none;
    cursor: pointer;
    }
a:hover,
.a:hover {
    text-decoration: underline;
    }
a.current {
    color: #4f0100;
    cursor: text;
    }
a.current:hover {
    text-decoration: none;
    }
/* Form
---------------------------------------- */
/* form field container */
form {
    margin: 3ex 1em;
}
.form-row {
    margin-bottom: 10px;
    }
fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    }
label, legend {
    display: block;
    margin-bottom: 1ex;
    line-height: 1em;
    font-size: 22px;
    font-size: 2.2rem;
    }
input, textarea {
    width: 100%;
    margin-bottom: 2ex;
    border: 1px solid black;
    border-radius: 6px;
    padding: .1em 1ex;
    line-height: 4ex;
    }
textarea {
    }


/* Buttons
---------------------------------------- */
button, .btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 29px;
    border: none;
    padding: 0 .9em 0 1.1em;
    background-color: gray;
    font-size: 11px;
    font-size: 1.1rem;
    color: #fff;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    }
.overlay button,
.overlay .btn {
    border-radius: 6px;
}
/* Images
---------------------------------------- */

/* Icons
---------------------------------------- */
i {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    }
i.svg {
    }
/* General Helpers
-------------------------------------------------- */
.center-text {
    text-align: center;
    }
.float-left {
    float: left;
    }
.float-right {
    float: right;
    }
.clear {
    clear: both;
    }
.bold {
    font-weight: 700;
    }
.normal {
    font-weight: 400;
    }
.block {
    display: block;
    }
.inline {
    display: inline;
    }
.width-25 { width: 25%; }
.width-33 { width: 33%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }
/* Showing and Hiding
---------------------------------------- */
.is-hidden { /* Hide from both screenreaders and browsers */
    display: none !important;
    visibility: hidden;
    }
.is-visible { /* Show element to both screenreaders and browsers */
    display: block !important;
    visibility: visible;
    }
.accessibly-hidden { /* Hide only visually, but have it available for screenreaders */
    position: absolute !important;
    display: block;
    visibility: visible;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    }
/* navigation -------------------------------- */
.utilities {
    position: absolute;
    left: 0;
    top: 0;
    }
.shortcuts {
    position: absolute;
    right: 0;
    top: 0;
    }
.utility {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    }

/* xfinity controls ----------------------------- */

.xfinity-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    }
.xfinity-control-btn {
    vertical-align: bottom;
    width: 30%;
    height: 60px;
    margin-left: -.3em;
    color: white;
    }
.xfinity-control-btn:first-child {
    margin-left: 0;
}
.launch-command-control-btn {
    width: 20%;
    border: 1px solid black;
    background-color: #ccc;
}
.svg.icon-mic {
    position: absolute;
    left: 50%;
    top: 14px;
    width: 21px;
    height: 31px;
    margin-left: -9px;
}
.text-query-btn:before {
    content: "T";
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    text-align: center;
    color: #222;
    font-family: Courier,Georgia,Times,"Times New Roman",serif;
    font-size: 36px;
    line-height: 1;
}
/*  d controls ------------------------ */
.d-pad {
    position: absolute;
    left: 50%;
    top: 274px;
    width: 292px;
    height: 292px;
    margin-left: -146px;
    margin-top: -146px;
    }
.left-right {
    position: absolute;
    left: 0;
    top: 50%;
    width: 292px;
    height: 130px;
    margin-top: -65px;
    }
.left-right:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 292px;
    height: 130px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 130"><path fill="#fff" d="M292,65c0-35.9-29.1-65-64.9-65c-11.7,0-22.8,2.7-32.3,8.1c-14.5,8.1-31.1,12.7-48.8,12.7c-17.7,0-34.4-4.6-48.8-12.7 C87.7,2.7,76.5,0,64.9,0C29.1,0,0,29.1,0,65s29.1,65,64.9,65c11.7,0,22.8-2.7,32.3-8.1c14.5-8.1,31.1-12.7,48.8-12.7 c17.7,0,34.4,4.6,48.8,12.7c9.5,5.4,20.6,8.1,32.3,8.1C262.9,130,292,100.9,292,65z"/></svg>');
    opacity: .2;
    }
.up-down {
    position: absolute;
    left: 50%;
    top: 0;
    width: 130px;
    height: 292px;
    margin-left: -65px;
    }
.up-down:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 292px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 292"><path fill="#ffffff" d="M65,292c35.9,0,65-29.1,65-64.9c0-11.7-2.7-22.8-8.1-32.3c-8.1-14.5-12.7-31.1-12.7-48.8c0-17.7,4.6-34.4,12.7-48.8 c5.4-9.5,8.1-20.6,8.1-32.3C130,29.1,100.9,0,65,0S0,29.1,0,64.9c0,11.7,2.7,22.8,8.1,32.3c8.1,14.5,12.7,31.1,12.7,48.8 c0,17.7-4.6,34.4-12.7,48.8C2.7,204.3,0,215.5,0,227.1C0,262.9,29.1,292,65,292z"/></svg>');
    opacity: .2;
    }
.d-pad-btn {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-size: 1.6rem;
    }
.d-pad-left {
    left: 0;
    top: 50%;
    margin-top: -65px;
    }
.d-pad-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    margin-left: -10px;
    margin-top: -11px;
    border: 4px solid transparent;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.d-pad-up:after {
    top: 57px;
    border-left-color: black;
    border-top-color: black;
}
.d-pad-down:after {
    top: 73px;
    border-right-color: black;
    border-bottom-color: black;
}
.d-pad-left:after {
    left: 57px;
    border-left-color: black;
    border-bottom-color: black;
}
.d-pad-right:after {
    left: 73px;
    border-right-color: black;
    border-top-color: black;
}
.d-pad-right {
    right: 0;
    top: 50%;
    margin-top: -65px;
    }
.d-pad-up {
    left: 50%;
    top: 0;
    margin-left: -65px;
    }
.d-pad-down {
    left: 50%;
    bottom: 0;
    margin-left: -65px;
    }
.d-pad-ok {
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -65px;
    }
.d-pad-ok:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    background-color: #fff;
    opacity: .2;
    z-index: -1;
    }
.d-pad-ok:after {
    content: none;
}
/* text queries --------------------------- */
.btn.help-btn {
    position: relative;
    color: #1588c4; /* blue */
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -1ex;
    border-radius: 15px;
    background-color: black;
}
.help-btn:before {
    content: "?";
    position: absolute;
    width: 100%;
    left: 0;
    top: .7ex;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}
.recent-btn {
    float: right;
}
/* recent queries -------------------------- */
.recent-queries {
    margin: 3ex 1em;
}
.recent-query {
    margin-bottom: 0;
}
button.recent-query-btn {
    width: 100%;
    height: auto;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding: 2ex .5em;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-size: 1.8rem;
    text-align: left;
}
.recent-query:first-child .recent-query-btn {
    border-top: 1px solid white;
}
/* overlays --------------------------- */
.blocking-screen {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .85;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: white;
}
.overlay.reveal {
    visibility: visible;
}
.overlay-header {
    overflow: hidden;
    padding: 1ex;
    margin: 0;
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-size: 2.0rem;
}
.overlay .close-btn {
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: #1588c4; /* blue */
}
.overlay-content {
    display: none;
}
.overlay-content.reveal {
    display: block;
}
/* text help */
.text-help-example {
    border: 1px solid white;
    background-color: lightgray;
    color: black;
    border-radius: 15px;
}